Checks: >
  ,bugprone-*
  ,clang-analyzer-*
  ,clang-diagnostic-*
  ,cppcoreguidelines-*
  ,google-build-namespaces
  ,hicpp-*
  ,misc-*
  ,performance-*
  ,readability-*
  ,modernize-*
  ,-cppcoreguidelines-avoid-magic-numbers
  ,-cppcoreguidelines-pro-bounds-pointer-arithmetic
  ,-misc-non-private-member-variables-in-classes
  ,-modernize-use-trailing-return-type
  ,-readability-identifier-length
  ,-readability-magic-numbers
  ,-readability-qualified-auto
WarningsAsErrors: >
  ,bugprone-use-after-move
  ,clang-analyzer-core.StackAddressEscape
  ,performance-move-const-arg
CheckOptions:
  cppcoreguidelines-explicit-virtual-functions.IgnoreDestructors: true
  hicpp-use-override.IgnoreDestructors: true
  modernize-use-override.IgnoreDestructors: true
FormatStyle: file
